<p-card>
    <div class="p-grid ui-fluid">
        <div class="p-col-12">
            <p-fieldset legend="Filtros">
                <form (ngSubmit)="filterResponsaveis()">
                    <div class="ui-fluid p-formgrid p-grid p-align-center vertical-container">
                        <div class="p-field p-lg-3 p-md-6 p-sm-12">
                            <label for="inputNome">Nome</label>
                            <input [(ngModel)]="responsavelFilter.nome" id="inputNome" name="nome" pInputText>
                        </div>
                        <div class="p-field p-lg-3 p-md-6 p-sm-12">
                            <label for="inputEmail">Email</label>
                            <input [(ngModel)]="responsavelFilter.email" id="inputEmail" name="email" pInputText>
                        </div>
                        <div class="p-field p-lg-3 p-md-6 p-sm-12">
                            <label for="inputDataNascimento">Data de Nascimento</label>
                            <input [(ngModel)]="responsavelFilter.dataNascimento" id="inputDataNascimento"
                                   max="9999-12-31" name="dataNascimento" pInputText type="date">
                        </div>
                        <div class="p-lg-3 p-md-6 p-sm-12">
                            <button icon="pi pi-search" label="Buscar" pButton></button>
                        </div>
                    </div>
                </form>
            </p-fieldset>
        </div>
        <div class="p-col-12">
            <p-table #tableResponsaveis (onPage)="findAllResponsaveis()"
                     (onSort)="findAllResponsaveis(responsavelFilter)" [lazy]="true" [paginator]="true"
                     [responsive]="true" [rowsPerPageOptions]="[2,4,6]" [rows]="2"
                     [totalRecords]="responsaveis?.totalElements" [value]="responsaveis?.content" dataKey="id"
                     selectionMode="single" sortField="id">

                <ng-template pTemplate="header">
                    <tr>
                        <th class="width-50-percent" pSortableColumn="nome.keyword" scope="col">Nome</th>
                        <th class="width-30-percent" pSortableColumn="email.keyword" scope="col">Email</th>
                        <th class="width-20-percent" pSortableColumn="dataNascimento" scope="col">
                            Data de Nascimento
                        </th>
                    </tr>
                </ng-template>

                <ng-template let-responsavel pTemplate="body">
                    <tr>
                        <td>{{responsavel['nome']}}</td>
                        <td>{{responsavel['email']}}</td>
                        <td>{{responsavel['dataNascimento'] | date: 'dd/MM/yyyy'}}</td>
                    </tr>
                </ng-template>

            </p-table>
        </div>
    </div>
</p-card>
